
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@layer base{
      html{
            scroll-behavior: smooth;
      }
}

::-webkit-scrollbar{
      display: none;
}
*{
      font-family: "Outfit", sans-serif;
}
.rich-text{
      font-size: 15px;
      color:#7a7b7c
}
.rich-text{
      margin-bottom: 16px;
}
.rich-text h2,h1,h4,h3{
      font-size: 22px;
      font-weight: 700px;
      color:#333333;
      margin: 0px 30px 0px 10px;
}